<h1>Survey Depot</h1>
<form action='/survey_list' method="post">
  <label for="name">Name Your Survey: </label>
  <input type="text" name="name">

  </br>

  <label for="question">Add a question: </label>
  <input type="text" name="question">

  <br />

  <label for="question">Add a question: </label>
  <input type="text" name="question">

  <br />

  <label for="question">Add a question: </label>
  <input type="text" name="question">

  <br />

  <label for="question">Add a question: </label>
  <input type="text" name="question">

  <br />

  <button type="submit">Add Your Survey!</button>

</form>
