<h1>Survey Depot</h1>
<form action='/survey_list' method="post">
  <label for="survey_name">Name Your Survey: </label>
  <input type="text" name="survey_name">

  </br>

  <button type="submit">Add Your Survey!</button>

</form>


<% @surveys.each() do |survey| %>
  <a href="/survey_list/<%= survey.id()%>"><%= survey.survey_name() %></a><br />
<% end %>
