<h1>Take Survey <%= @survey.survey_name() %></h1>

<form action = "/survey_list/:id" method = "post">

  <input name="survey_id" type="hidden" value="<%= @survey.id() %>">
  <label for="question">Add a question: </label>
  <input type="text" name="question">
  <br />

  <button type="submit"> Add! </button>
</form>

<ul>
  <% @survey.questions().each() do |question| %>
  <li><%= question.question() %><li>

  <% end %>
</ul>
